<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<!-- <script src="static/js/pixi.min.js"></script> -->
<script src="static/js/pixi-legacy.min.js"></script>

<body>
    <script type="text/javascript">
        let type = "WebGL"
        if (!PIXI.utils.isWebGLSupported()) {
            type = "canvas"
        }

        PIXI.utils.sayHello(type)

        //Create a Pixi Application
        let app = new PIXI.Application({
            width: 256,         // default: 800
            height: 256,        // default: 600
            antialias: true,    // default: false
            transparent: false, // default: false
            resolution: 1       // default: 1
        }
        );
        //Add the canvas that Pixi automatically created for you to the HTML document
        document.body.appendChild(app.view);

        PIXI.loader.add("static/assets/game_files/img/cat.png").load(setup)

        function setup() {
            let cat = new PIXI.Sprite(PIXI.loader.resources["static/assets/game_files/img/cat.png"].texture)

            app.stage.addChild(cat)
        }

    </script>
</body>

</html>